<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Easy Mock</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}"/>
    <script src="../static/js/index.js"></script>
    <script src="../static/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">EASY MOCK</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>

    <div class="mock_web">
        <!-- 内容主体区域 -->
        <ins class="aaa" style="display:inline-block;width:1200px;height:38px"></ins>
        <div class="mock_table" style="padding-left:20px;padding-right:20px">
            <table class="layui-hide" id="mock" lay-filter="listen"></table>
            <script type="text/html" id="toolbarDemo">
                <div class="layui-btn-container">
                    <button class="layui-btn layui-btn-sm" lay-event="add">添加mock接口</button>
                </div>
            </script>

            <script type="text/html" id="operation">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
            </script>
        </div>
    </div>
</div>

<script>
    //JavaScript代码区域
    layui.use(['table', 'layer', 'form'], function () {
        var table = layui.table; //表格
        var $ = layui.$;
        var layer = layui.layer;
        //执行一个 table 实例
        table.render({
            elem: '#mock'
            , height: 550
            , width: 1500
            , even: true //开启隔行背景
            //, skin: 'row'//用于设定表格风格,line-行边框风格,row-列边框风格,nob-无边框风格
            //, size: 'sm'//设定表格尺寸 sm-小尺寸 lg-大尺寸
            , defaultToolbar: ['filter', "exports", {  //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'info'
                , icon: 'layui-icon-tips'
            }]
            , url: '/code/mock/test/' //数据接口
            , page: true //开启分页
            , limit: 10 //默认显示每页10条
            , limits: [5, 10]//下拉设置每页显示多少条
            , loading: true//是否显示加载条（默认：true）。如果设置 false，则在切换分页时，不会出现加载条。该参数只适用于url参数开启的方式
            , title: "mock接口表"//定义 table 的大标题（在文件导出等地方会用到）
            , text: {
                none: '暂无相关数据' //自定义文本，如空数据时的异常提示等
            }
            , toolbar: '#toolbarDemo' //开启工具栏，指向自定义工具栏模板选择器，详见文档
            , cols: [[ //表头
                {field: 'id', title: 'ID', width: 50, fixed: 'left'}
                , {field: 'title', title: '接口名称', width: 250}
                , {field: 'methods', title: '请求方式', width: 105, sort: true}
                , {field: 'url', title: 'url', width: 270}
                , {field: 'description', title: '接口描述', width: 200}
                , {field: 'resparams', title: '期待返回', width: 330}
                , {field: 'update_time', title: '更新时间', width: 160, sort: true}
                , {fixed: 'right', align: 'center', toolbar: '#operation', width: 125}
            ]]
        });

        //监听行工具栏事件
        table.on('tool(listen)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('确认删除该条数据吗', function (index) {
                    //向服务端发送删除指令
                    var id = JSON.stringify(data.id);
                    $.ajax({
                        type: "GET",
                        url: "/del",
                        data: {"id": id},  //将id传向后端，进行软删除
                        dataType: "json",
                        success: function (result) {
                            if (result['status'] == "0") {   //从前台取回的状态值
                                layer.close(index);
                                $(".layui-laypage-btn").click();
                                //同步更新表格和缓存对应的值
                                obj.del();
                                layer.msg("删除成功！", {icon: 1, time: 500});
                            } else {
                                layer.msg("删除失败!", {icon: 2, time: 500});
                            }
                        },
                        error: function () {
                            layer.msg("删除失败!", {icon: 2, time: 500});
                            layer.close(index);
                        }
                    })
                });
            } else if (layEvent === 'edit') { //编辑
                layer.open({
                    type: 2,
                    title: '编辑需要mock的接口',
                    area: ['60%', '80%'],
                    content: ['/edit_mock', 'no']
                    //,btn: ['提交', '取消']
                    , success: function (layero, index) {
                        var body = layui.layer.getChildFrame('body', index);
                        body.find("#id").val(data.id); //要修改的每个td的值存为变量传进去
                        body.find("#title").val(data.title);
                        body.find("#methods").val(data.methods);
                        body.find("#url").val(data.url);
                        body.find("#description").val(data.description);
                        body.find("#resparams").val(data.resparams);
                        form.render();
                    }
                    , end: function () {
                        location.reload();//写在这里的话不管是否提交成功都会刷新这个页面
                    }

                });
            }
        });

        //监听头工具栏事件
        table.on('toolbar(listen)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    //layer.msg('添加mock接口');
                    layer.open({
                        type: 2,
                        title: '添加需要mock的接口',
                        area: ['60%', '80%'],
                        content: ['/add_mock', 'no']
                        //,btn: ['提交', '取消']
                        , success: function (layero, index) {
                            console.log(layero, index);
                        }
                        , end: function () {
                            location.reload();//写在这里的话不管是否提交成功都会刷新这个页面
                        }

                    });
                    break;
                case 'info':
                    layer.alert('功能还不够完善，请多多谅解~');
                    break;
            }
        });

    });

</script>
</body>
</html>